body {
  background-color: #1f004b;
  color: #e7f0f6;
  font-family: proxima-nova, sans-serif;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 48px;
  border-radius: 10px;
  background: #120030bb;
  box-shadow: 0 4px 6px rgba(177, 99, 255, 0.144);
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e7f0f6;
  border-radius: 4px;
  background-color: #120030;
  color: #e7f0f6;
  font-size: 18px;
  display: block;
}

.city {
  justify-content: space-between;
  display: flex;
  margin: 10px auto;
  padding: 32px 0;
  text-align: left;
  border-bottom: 1px dashed rgba(230, 220, 255, 0.2);
}

.city:last-child {
  border: none;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
  text-transform: uppercase;
}

.date {
  opacity: 0.7;
}

footer {
  font-family: proxima-nova, sans-serif;
  color: #e7f0f6ad;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}

a {
  color: #d879f8;
  text-decoration: none;
}

.back {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #0e0023;
  color: #e7f0f6;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  width: 40px;
  box-shadow: 0 2px 6px rgba(177, 99, 255, 0.144);
}
